body {
    font: 1em sans-serif;
    width: 200px;
    padding: 0;
    margin: 0 auto;
}

p * {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    appearance: none;

    width: 100%;
    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
display: block;
    margin-bottom: 4px;
    padding: 0.3em;
}
