


#opdracht-2{

}

.chat{
    border: 2px solid red;
    border-radius: 4px;
    margin: 4px;
    background-color: #f1f1f1;
}

.chat .chat__header{
    display: flex;
    justify-content: center;
    padding: 4px;
}


/*student uitwerking*/

/*student uitwerking*/
